* {
    font-family: 'Poppins', sans-serif;
    /* border: 1px dashed red; */
}

:root {
    --darkestGreen: #494c40;
    --darkGreen: #6b705c;
    --midDark: #a3a380;
    --midTone: #d6ce93;
    --lightGreen: #efebce;
}

a {
    text-decoration: none;
    color: white;
}

#header {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
   justify-content: space-between;
    background-color: var(--darkGreen);
}

body {
    background-color: var(--lightGreen);
}


#siteTitle h1{
    text-align: center;
    font-size: 30px;
    display: inline;
}

#navigation ul, #nav li{
    margin: 0px;
    padding: 0px;
}

#navigation li {
    display: inline-block;
    margin: 10px 1px 1px 1px;
}

legend {
    text-align: center;
}

.fieldset {
    margin-top: 20px;   
    color: var(--darkestGreen);
    font-weight: bold;
    display: flex;
    display: inline-block;
    width: 50%;
    background-color: var(--midDark);
}

#legendName {
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    background-color: white;
}

input, select, option {
    width: 100%;
    background-color: white;
    border: none;
}

input [type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0px;
}

#overallTaskSpace {
    margin: 40px 10px 0px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.taskTitle {
    text-align: center;
    color: var(--lightGreen);
}

.card{
    margin: 10px 5px 10px 5px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card:hover {
    box-shadow: 0 4px 8px 0 var(--darkestGreen);
}

.cardBody {
    background-color: white;
    margin: 0 auto;
}


.taskTitle {
    background-color: var(--darkGreen);
    padding: 15px 10px 15px 10px;
    color: white;
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
}

.descText {
    background-color: white;
    font-size: 15px;
    padding: 10px 20px 10px 20px;
    color: var(--darkestGreen);
}

#legendName {
    font-size: 20px;
}

button {
    background-color: var(--darkGreen);
    color: var(--lightGreen);
    border: none;
    text-decoration: none;
}

button:hover {
    background-color: var(--darkestGreen);
    transition: 0.7s;
}

.openButton {
    margin: 10px;
    padding: 8px;
    font-size: 15px;
    width: 53%;
    border-radius: 10px;
}

.buttonDiv {
    background-color: var(--darkGreen);
    margin: 0 auto;
    display: block;
}

.addBtn, .cancel {
    font-size: 17px;
    min-height:30px; 
    min-width: 120px;
    border: none;
}

.doneBtn, .editBtn {
    min-height:30px; 
    min-width: 200px;
    font-size: 15px;
} 

.taskPriority, .dateDue {
    padding: 4px 8px;
    border: 1px solid var(--darkGreen);
    border-radius: 50px;
    font-size: 12px;
    background-color: var(--lightGreen);
}

.popUpForm {
    display: flex;
    align-content: center;
}

