<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <title>FocusFlow</title>
        <link rel="stylesheet" th:href="@{css/main.css}">
        <!-- <link rel="stylesheet" href="/static/css/index.css"> -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    </head>


    <!--Top header on website start-->
    <header id="header">
        <!--FocusFlow title-->
        <div id="siteTitle"> 
            <h1>
                <a href="#">FocusFlow</a>
            </h1>
        </div>

        <!--Navigation-->
        <div>
            <nav id="navigation">
                <ul id="nav">
                    <li class="active">
                        <a href="#" id="aboutUs">About Us</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
           
    


    <tbody>

        <form action="">
            <fieldset>
                <legend id="legendName">Create a folder</legend>
                <label id="nameinputlabel" for="dolfernameinput"></label>
                <input type="text" id="tasknameinput" name="tasknameinput">
                <button type="submit" id="clickableButton">+</button>
            </fieldset>
        </form>
        
        
        
        <!-- <tr th:each="taskId:${getAllTask()}"> -->
            <!-- <p th:text="${task.name}"> Task</p>
            <p th:text="${taskId.name}"> Task</p> -->
        <!-- </tr> -->
        <a th:href="@{/getAllTask}" class="btn btn-primary btn-sm mb-3" >Get all Tasks</a>

        <div id="overallTaskSpace">
            <!--Individual tasks-->
            <div id="taskOne" class="task">
                <h2>Task Title</h2>
                <h3>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam, debitis.
                </h3>
            </div>

            <div id="taskTwo">
                <h2>Task Title</h2>
                <h3>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam, debitis.
                </h3>
            </div>

            <div id="taskThree">
                <h2>Task Title</h2>
                <h3>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam, debitis.
                </h3>
            </div>           
        </div>
   
         
        
       <script src="/index.js"></script>
    </tbody>
  
</html>