<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>FocusFlow</title>
        <link rel="stylesheet" href="/static/index.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    </head>


    <!--Top header on website start-->
    <header id="header">
        <!--FocusFlow title-->
        <div id="siteTitle"> 
            <h1>
                <a href="#">FocusFlow</a>
            </h1>
        </div>

        <!--Navigation-->
        <div>
            <nav id="navigation">
                <ul id="nav">
                    <li class="active">
                        <a href="#" id="aboutUs">About Us</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header> 
    <!--Top header on website end-->              
    

    <!--Website body end-->
    <body>
        <!--Form to add a task start-->
        <form action="">
            <fieldset>
                <legend id="legendName">Create a folder</legend>
                <label id="nameinputlabel" for="dolfernameinput"></label>
                <input type="text" id="tasknameinput" name="tasknameinput">
                <button type="submit" id="clickableButton">+</button>
            </fieldset>
        </form>
        <!-- Form to add a task end-->

        <!--Task area-->
        <div id="overallTaskSpace">
            <!--Individual tasks-->
            <div id="taskOne" class="task">
                <h2>Task Title</h2>
                <h3>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam, debitis.
                </h3>
            </div>

            <div id="taskTwo">
                <h2>Task Title</h2>
                <h3>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam, debitis.
                </h3>
            </div>

            <div id="taskThree">
                <h2>Task Title</h2>
                <h3>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam, debitis.
                </h3>
            </div>           
        </div>
        <!-- Task area end-->
         
        
        <script src="/index.js"></script>
    </body>
    <!--Website body end-->
</html>