<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <title>FocusFlow</title>
        <link rel="stylesheet" th:href="@{css/main.css}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    </head>


    <!--Top header on website start-->
    <header id="header">
        <!--FocusFlow title-->
        <div id="siteTitle"> 
            <h1>
                <a href="#">FocusFlow</a>
            </h1>
        </div>

        <!--Navigation-->
        <div>
            <nav id="navigation">
                <ul id="nav">
                    <li class="active">
                        <a href="#" id="aboutUs">About Us</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
           
    


    <body>

        <div id="openBtn">
            <button class="openButton" id="openFormBtn" onclick="openForm()"><strong>Create a Task</strong></button>
        </div>
        <div id="formPopup" align ="center">
            <div id="popupForm">
                <form action="" id="popUpContent">
                    <fieldset align="left">
                        <legend id="legendName">Input Task Information</legend>

                        <label id="nameinputlabel" for="tasknameinput">Task Name</label>
                        <input type="text" id="tasknameinput" name="tasknameinput">

                        <label id="desinputlabel" for="desinput">Description</label>
                        <input type="text" id="desinput" name="desinput">

                        <label id="duelabel" for="dueinput">Due Date</label>
                        <input type="date" id="dateinput" name="dateinput">

                        <label id="plabel" for="pinput">Priortity</label>
                        <select name="pselect" id="pselect">
                            <option selected>Choose...</option>
                            <option value="low">Low</option>
                            <option value="Med">Medium</option>
                            <option value="High">High</option>
                        </select>
                        <div id="buttons">
                            <button type="submit" id="clickableButton">Add Task</button>
                            <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>

        <!-- <section>
            <button class="show-form">Show Form</button>
            <span class="overlay"></span>
            
            <div id="form-content">
                <form action="" id="popUpContent">
                    <fieldset>
                        <legend id="legendName">Create a Task</legend>
                        <label id="nameinputlabel" for="tasknameinput"></label>
                        <input type="text" id="tasknameinput" name="tasknameinput">
                        <button type="submit" id="clickableButton">+</button>
                    </fieldset>
                </form>
                
                <div>
                    <button id="close-btn">Done</button>
                </div>
            </div>
        </section> -->
       
        <div id="overallTaskSpace">
            <!--Individual tasks-->
            <!-- <div id="taskOne" class="task">
                <h2>Task Title</h2>
                <h3>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam, debitis.
                </h3>
            </div>

            <div id="taskTwo">
                <h2>Task Title</h2>
                <h3>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam, debitis.
                </h3>
            </div>

            <div id="taskThree">
                <h2>Task Title</h2>
                <h3>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam, debitis.
                </h3>
            </div>            -->
        </div>
        
       <script text="text/javascript" th:src="@{/js/action.js}"></script>
    </body>
  
</html>